<!DOCTYPE html>


    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>home</title>
        <link rel="stylesheet" href="/css/style.css">
        <script src="https://kit.fontawesome.com/2989d0abfd.js" crossorigin="anonymous"></script>
    </head>

    <body>

    </body>

 
    <nav>
            <img id="logo" src="/img/logo-mercado-liebre.svg" alt="Aquí va una foto" width="" height="">
    
        
            
        
                <article id="lupa"><form action=""> <input type="text" placeholder="Buscar" ></form><i class="fa-solid fa-magnifying-glass"></i>
                </article>
            
        
     
         
        <h2><i class="fa-solid fa-hand-holding-dollar"></i>compra en cuotas y sin tarjeta de credito</h2>
        

  
        </ul>


        <section>
            <ul>
                <li class="negrita"><a href="ofertas">Ofertas</a></li>
                <li class="negrita"><a href="Tiendas Oficiales">Tiendas Oficiales</a></li>
                <li class="negrita"><a href="Vender">Vender</a></li>
                <li class="negrita"><a href="/">Ayuda</a></li><br>
            </ul>
        </section>

        <section>
            <ul>

                <li class="negrita"><a href="crea tu cuenta">crea tu cuenta</a></i><i class="fa-solid fa-id-card"></i>
                <li class="negrita"><a href="ingresa">ingresa</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li class="negrita"><a href="mis compras">mis compras</a></i><i class="fas fa-shopping-cart"></i>
            </ul>
        </section>
    
        
            <div class="burger-button"><i class="fas fa-bars"></i></div>
        
           
        
         
    </nav>
        
    
    
 
    <img id="imagen1" src="/img/img-home-banner.jpg" alt="Aquí va una foto">
    <article>


<h5>BASADO EN TU ULTIMA VISITA</h5>

<main>
    <article>
            <img id="imagen2"src="/img/img-cafetera-moulinex.jpg" alt="Aquí va una foto" width="" height="">
            <i class="fa-solid fa-truck" style="color: #24995c;"></i>
            
        <ol>
            <li class="negrita">$6.770</li>
            <li class="tamaño16">40% OFF</li>
            <a><li class="tamaño16">Cafetera Moulinex</li></a>
            
        </ol>
    </article>
    <article>
        <img id="imagen3"src="/img/img-macbook-pro-2019.jpg" alt="" width="" height="">
        <i class="fa-solid fa-truck" style="color: #24995c;"></i>
        <ol>
            <li class="negrita">$230.000</li>
            <li class="tamaño16">20% off</li>
            <a><li class="tamaño16">MacBook Pro 2019</li></a>
            
            
        </ol>
    </article>
    <article>
        <img id="imagen4"src="/img/img-tv-samsung-smart.jpg" alt="Aquí va una foto" width="" height="">
        <i class="fa-solid fa-truck" style="color: #24995c;"></i>

        <ol>
            <li class="negrita">$23.200</li>
            <li class="tamaño16">5% off</li>
            <a><li class="tamaño16">Smart Tv Samsung 43"</li></a>
            
        </ol>
    </article>
    <article>
        <img id="imagen5"src="/img/img-samsung-galaxy-s10.jpg" alt="Aquí va una foto" width="" height="">
            <i class="fa-solid fa-truck" style="color: #24995c;"></i>
        <ol>
            <li class="negrita">$70.500</li>
            <li class="tamaño16">10% off</li>
            <a><li class="tamaño16">Samsung Galaxy S10</li></a>
            
        </ol>
    </article>
    </main> 
        
        &nbsp;

        <ul>
            <div id="n1"><i class="fa-solid fa-credit-card" style="color:  #2181e8;"></i></div>
           <li><b class="n3">PAGA CON TARJETA O EN EFECTIVO</b><BR>
            <li><b class="n2">Con MercadoLiebreCash, tenés cuotas sin <br>interés con tarjeta o
                efectivo en puntos de pago<br>¡Y siempre es seguro!</BR></li></b>
            </li>
            &nbsp; &nbsp; &nbsp;
            &nbsp;
           <div id="n1"> <i class="fa-solid fa-gift" style="color:  #2181e8;"></i></div> 
            <li><b class="n3">ENVIOS GRATIS DESDE $2500</b><br>
                <li><b class="n2"> por estar registrad@ en Mercado Liebre <br> tenés envíos gratis en miles de
                productos. Es  <br> un beneficio de Mercado Puntos.</BR></li></b>
            &nbsp;
         <div id="n1"><i class="fa-solid fa-user-shield" height="62em" style="color:  #2181e8;"></i></div>
            <li><b class="n3">SEGURIDAD DE PRINCIPIO A FIN</b><BR>
                <li><b class="n2">¿No te gusta? ¡Devolvelo! En Mercado Liebre,<br>no hay nada que no puedas hacer,
                porque  <br> estás siempre protegid@.</BR></li></b>
            &nbsp;
              <li><b class="n2"> © 1999-2020 MercadoLiebre S.R.L.</b></li>
        </ul>

 <ul>

</article>
   




<div class="n2"><i class="display:none;"fa-solid fa-gift style="color:  #2181e8;"></i></div>

<div style="display: none;">Contenido oculto</div>

<i i="fas fa-bars"> </style ></i>

</html>