@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



:root{
   --color-Amarillo: #EAC926;
   --color-Azul: #03264C;
   --color-Celeste: #1259c3;
   --color-Gris-oscuro: #666;
   --color-Gris-claro: #ebebeb;
   --color-Verde: #39b54a;
   --color-blanco:#FFF;
}

  nav ul li{
    
    text-align: left;
}
*{
    
    padding: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
   
}

a{
    color: #000;
    color: pointer;
}
/*nav{
    background-color: #EAC926;
    
}*/
h2{
    font-size: 12PX;
    text-align: center;
}
form{
    
    text-align: left;
}


/*   VERSION MOBILE  */
@media(max-width:361px){
    nav ul li{
    display: none;
        text-align: left;
    }
}



/*   VERSION TABLET */


@media(min-width:361px){
    nav ul li{
        text-align: left;}
}



/*   VERSION DESCKOP  */
@media(min-width:769px){
    nav ul li{
        text-align: left;}
}