main section{
    
    width: 90%;
    padding: 10px;
}
main i{

    padding: 10px;
    border: 1px  solid #24995c;
    border-radius: 30px ;
    

 
}

body{
   /* background-color: var(--color-Gris-claro);*/
    background-color:URL("");
    background-position: NO-REPEAT;
    background-size: cover;
   
}

main article{
    padding: 10px;
    border: 10px solid var(--color-Gris-claro);
    background-color: white;
}
#imagen1{
    width: 100%;
}
#imagen2{
    width: 100%;
}
#imagen3{
    width: 100%;
}
#imagen4{
    width: 100%;
}
#imagen5{
    width: 100%;
}
.negrita{
    color: black;

}
.tamaño16{
    font-size: 16px;
}


/*   VERSION MOBILE  */
@media(max-width:361px){
    main ol a{
        display: none;
    }
}



 /*   VERSION TABLET */


@media(min-width:361px){

}



/*     VERSION  DESCKOP  */
@media(min-width:769px){

}




