body{
    background-color: beige;
    background-color:URL("");
    background-position: NO-REPEAT;
    background-size: cover;
    margin: 10px;
}



#imagen1{
    width: 100%;
}
#imagen2{
    width: 100%;
}
#imagen3{
    width: 100%;
}
#imagen4{
    width: 100%;
}
#imagen5{
    width: 100%;
}
#negrita{
    color: black;

}
#tamaño16{
    font-size: 16px;
}
